/* colors to be converted to scss variables later */
colors {
    color:rgb(253, 241, 225); /* primary color */
    color:rgb(98, 89, 78); /* secondary color */
    color:rgb(255, 250, 243); /* accent */
}

/* global rules */
body{
    display: grid;
    margin:0px;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 875px;
}
nav{
    background-color: rgb(98, 89, 78);
    height:50px;

    div{
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0px;
        height:50px;
        
        a {
            padding:7px 20px 7px 20px;
            font-size:18px;
            text-decoration: none;
            color:rgb(253, 241, 225);
            border-radius: 10px;
            transition: background-color 0.1s, color 0.1s;
        }
        a:hover{
            background-color: rgb(253, 241, 225);
            color:rgb(98, 89, 78);
        }
        a#nav-search-h{
            padding: 0;
            margin: 0 10px 0 10px;

            input {
                width: 400px;
                padding: 10px;
                margin: 2px;
                background-color: rgb(253, 241, 225);
                border-style: none;
                border-radius: 10px;
            }
        }
        a#nav-search-v{
            display:none;
        }
    }
}
@media (max-width: 1050px) {
    nav{
        height:auto;

        div {
            flex-direction: column;
            height: auto;

            a#nav-search-h{
                display:none;
            }
            a#nav-search-v{
                display:block;
            }
        }
    }
}
div.stage-main{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    margin: 0 20px 20px 20px;
    background-color: rgb(253, 241, 225);
}
header{
    background-color: rgb(98, 89, 78);
    color:rgb(253, 241, 225);
    border-radius: 15px;
    padding: 20px;
}
section{
    display: grid;
    width: 100%;
    flex-direction: column;
}
h1,h2,h3,h4,h5{
    font-style:italic;
    padding: 0px;
    margin: 0px;
}
p{
    padding: 0px;
}
label {
    margin: 8px 0px 8px 0px;
    font-weight: bold;
}
input {
    padding: 8px;
    margin-bottom:6px;
    border-style: none;
    border-radius: 8px;
    width: 300px;
}
button {
    margin-top: 20px;
	width: 316px;
    padding: 8px;
    border-style: none;
    border-radius: 8px;
    background-color: white;
    font-weight: bold;
	cursor: pointer;
	transition: background-color 0.1s, color 0.1s;
}
button:hover {
    background-color: whitesmoke;
}
button:active {
    background-color: rgb(230, 230, 230);
}
button#button-close-modal{
    width: 20%;
    margin: 0 10px;
}
.modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(98, 89, 78, 0.5);
}
.window-floating{
    max-width: 800px;
    border-radius: 20px;
    background-color: rgb(253, 241, 225);
    padding:25px;
    margin:12px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

/* helper rules */
.column{
    display:flex;
    flex-direction: column;
}
.row{
    display:flex;
    flex-direction: row;
}
.content-centered{
    display: grid;
    justify-self: center;
    flex-direction: column;
    > *{
        justify-self: center;
    }
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.self-center-hor{
    display: flex;
    justify-self: center;
}
.self-center-ver{
    display: flex;
    align-items: center;
}
.w100 {
    width: 100%;
}
.align-right{
    display: flex;
    justify-content: flex-end;
}

/* modals and shared content */
.sec-signin{
    display:block;
    margin:10px;
    background-color: rgb(240, 223, 199);
    border-radius: 20px;

    .sec-signin-inner{
        padding:15px;
    }
}