
<div class="stage-main">
    <section class="sec-welcome">
        <div class="sec-welc-text content-centered">
            <h1>Welcome to CreateHub</h1>
            <p>Where you can cupltivate your creativity, connect with like-minded individuals, and share your thoughts, images, and artistic creations.</p>
        </div>
        <div class="sec-welc-post-buffet">
            <p>[POST BUFFET: an animated horizontal scrolling display of new posts and popular ones]</p>
        </div>
    </section>
    <section class="sec-about">
        <div>
            <h1>[about section]</h1>
        </div>
    </section>
    <section class="sec-join">
        <div>
            <h1>[join section : if user is not signed in]</h1>
        </div>
    </section>
</div>